.login_container {
  width: min(90%, 500px);
  align-self: center;
  justify-self: center;
  display: grid;
  gap: 1.5rem;
  background-color: var(--white);
  padding: var(--spacing);
  border-radius: 16px;
  border: 1px solid var(--gray2);

  & form {
    display: grid;
    gap: 1rem;

    & button {
      margin-left: auto;
      width: 111px;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
