* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #7695ec;
  --red: #ff5151;
  --green: #47b960;
  --white: #ffffff;
  --black: #000000;
  --gray1: #777777;
  --gray2: #cccccc;
  --gray3: #999999;
  --gray4: #dddddd;
  --spacing: 1.5rem;
}

main {
  display: grid;
  min-height: 100vh;
  background-color: var(--gray4);
}

/* fonts */

.text-xl {
  font-size: 1.375rem; /* 22 */
}

.text-l {
  font-size: 1.125rem; /* 18 */
}

.text-nm {
  font-size: 1rem; /* 16 */
}

.text-sm {
  font-size: 0.75rem; /* 14 */
}

.bold {
  font-weight: bold;
}
