* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #7695ec;
  --red: #ff5151;
  --green: #47b960;
  --white: #ffffff;
  --black: #000000;
  --gray1: #777777;
  --gray2: #cccccc;
  --gray3: #999999;
  --gray4: #dddddd;
  --spacing: 1.5rem;
}

main {
  display: grid;
  min-height: 100vh;
  background-color: var(--gray4);
}

/* fonts */

.text-xl {
  font-size: 1.375rem; /* 22 */
}

.text-l {
  font-size: 1.125rem; /* 18 */
}

.text-nm {
  font-size: 1rem; /* 16 */
}

.text-sm {
  font-size: 0.75rem; /* 14 */
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

/* animation */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 0.4s;
  -moz-animation: fade-in 0.4s;
  -ms-animation: fade-in 0.4s;
  -o-animation: fade-in 0.4s;
  animation: fade-in 0.4s;
}

@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(-16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-top {
  -webkit-animation: fade-in-top 0.4s;
  -moz-animation: fade-in-top 0.4s;
  -ms-animation: fade-in-top 0.4s;
  -o-animation: fade-in-top 0.4s;
  animation: fade-in-top 0.4s;
}
